* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.content{
    background-color: #c5ae96;
    background-image: linear-gradient(180deg, #e1d1c0 10%, #9e804818 50%, #e1d1c0 80%);
    width: 100%;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.picture{
    width:200px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 50px;
    padding-top: 150px;
}
.cristina{
    display:block;
    white-space: nowrap;
    border-right: 4px solid;
    width : 22ch;
    color: #a5927e;

    animation: typing 2s steps(22);
    
    overflow: hidden;
}

@keyframes typing{
from {width :0 }
}


.hello{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    margin-bottom: 90px;
}

.skills-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 120px;
    margin-left: 90px;
    margin-right: 90px;
    flex-wrap: wrap;
    
}
.skills1{
    max-width:100px;
}
.skills{
    max-width: 60px;
}

.list{
    display: flex;
    overflow: auto;
    justify-content: center;
    width:100%;
}

.sections{
    list-style: none;
    position:fixed;
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    height: 80px;
    width:100%;
    gap:50px;
    font-size: 30px;
    background-color:#c5ae96;
    
}

.li:hover {
    translate: 1rem;
    cursor:pointer;  
}

a:link , a:visited {
    text-decoration: none;
    color: #897868;
}
.png{
   
    display:flex;
    flex-direction: row;
    width:80px;
    justify-content:center;
    align-items:center;
    color: #a5927e;
    gap:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.about,.proyects,.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a5927e;
}

.about-resume{
    text-align: center;
    padding:40px 150px 40px 150px;
    font-size: 20px;
}

.each-proyect{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding:50px;
    gap:100px;
    max-width:100vh;
}
.images{
    width:300px;
    border-radius: 10px;
    box-shadow: 10px 30px 30px #000000;
}
.icon{
    width:70px;
    height: 65px;

}

.names{
    font-size: 22px;
    margin-top: 50px;
    color:#897868;
}

.message{
    margin: 50px;
    color:#897868;
    font-size:20px;
}
.email{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 50px;
        color: #897868;
        font-size: 20px;
        text-decoration: solid;
}
.iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    margin-bottom:20px;

}

@media (min-width : 320px) {
    .sections {
        padding-left: 50px;
        padding-right: 50px;
        height: 80px;
        width: 100%;
        gap: 20px;
    }
    .li{
        font-size: 40px;
    }
    .about-resume {
        text-align: center;
        padding: 40px 150px 40px 150px;
        font-size: 20px;
        }
    .cristina {
        padding-right: 10px;
        padding-left: 10px;
        }
}

@media (max-width : 600px) {
    .each-proyect {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 50px;
        gap: 100px;
        max-width: 100vh;
}
    .sections {
        list-style: none;
        position: fixed;
        display: flex;
        flex-wrap: nowrap;
        overflow:hidden;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        height: 80px;
        width: 100%;
        gap: 50px;
        background-color: #c5ae96
        }
        .li{
            font-size: 30px;
        
            overflow: auto;
        }
    .about-resume {
        text-align: center;
        padding: 40px 110px 40px 110px;
        font-size: 15px;
        }
    .cristina {
        display: block;
        white-space: nowrap;
        border-right: 4px solid;
        width: 22ch;        
        animation: typing 2s steps(22);        
        overflow: hidden;
         }
                
         @keyframes typing {
         from {width: 0}
         }
}
@media (max-width : 525px){
    .li {
        font-size: 25px;
        }
    .about-resume {
        text-align: center;
        padding: 40px 70px 40px 70px;
        font-size: 13px;
        }
    .message{
        font-size: 15px;
    }
    .cristina{
        font-size: 25px;
    }
        
}